.manage-patient-container{
    .m-p-title{
        text-transform: uppercase;
    margin-top: 15px;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
    color: #0071ba;
    }
    .manage-patient-body{
        

        
        margin: 0 20px;

        .table-manage-patient{
            table{
            font-family: arial, sans-serif;
        border-collapse: collapse;
         
        }

        td, th {
         border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;

        }
        button{
            border: none;
            outline: none;
            cursor: pointer;

        }
        .mp-btn-confirm{
            margin-right:10px ;
            height: 30px;
            border-radius: 3px;
            background-color: orange;
        }
        .mp-btn-remedy{
            
            height: 30px;
            border-radius: 3px;
            background-color: rgb(62, 203, 228);
        }
    }
    }
}