.ant-tabs-tab.ant-tabs-tab-active {
  color: #1677ff;
  background-color: #e6f4ff;
}

.profile-info {
  padding: 0 24px 24px 0;
}

.booking-history {
  font-size: 16px;

  & h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    &:hover::after {
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 40%;
      height: 2px;
      background-color: #333;
      transition: 0.5s ease;
    }
  }

  &-container {
    &-createdAt {
      margin-bottom: 12px;
    }

    &-doctor-info {
      margin: 24px 0;
      margin-top: 0;

      & div,
      & b {
        font-size: 16px;
      }

      & h6 {
        text-transform: uppercase;
        margin: 24px 0;
        position: relative;
        display: inline-block;
        &:hover::after {
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 40%;
          height: 2px;
          background-color: #333;
          transition: 0.5s ease;
        }
      }
    }

    &-booking-info {
      & h6 {
        text-transform: uppercase;
        position: relative;
        display: inline-block;
        margin-bottom: 24px;
        &:hover::after {
          width: 100%;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 40%;
          height: 2px;
          background-color: #333;
          transition: 0.5s ease;
        }
      }

      & img {
        max-width: 100%;
        border-radius: 4px;
        object-fit: cover;
      }
    }
  }
}

.booking-history-item {
  padding: 20px;
  background-color: rgb(245, 245, 245);
  margin-bottom: 20px;
  border-radius: 8px;
  margin-right: 20px;
}
