.section-specialty {
    height: 330px;
    background-color: #f5f5f5;


    .section-content {
        margin: 0 70px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-size: 20px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 10px 15px;
                border: none;
                outline: none;
                background: rgb(248, 239, 239);
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background: rgb(151, 61, 61);
                }
            }

        }

        .section-body {

            // reset slick slider css

            .section-customize {
                .bg-image {
                    width: 278px;
                    height: 150px;
                    background: url('../../../assets/specialties/181619-sieu-am-thai.jpg');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: #eee;
                }
            }
            .specialty-child{
                cursor: pointer;
                .specialty-name{
                    padding: 10px 0;
                    &:hover{
                        color: rgb(0, 119, 255);
                    }


                }
            }



        }
    }



}

.slick-prev {
    left: -10 !important;
    z-index: 1000;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;


    &:hover {
        background: #c4c1c1 !important;

    }
}

.slick-next::before,
.slick-prev::before {
    font-family: 'FontAwesome' !important;
    color: red !important;

}

.slick-next {
    position: relative;
    right: -10 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background: #c4c1c1 !important;

    }
}