.home-header-container {
    height: 70px;
    width: 100%;

    .home-header-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0 20px;

        .left-content {
            display: flex;
            width: 10%;
            align-items: center;

            .headerLogo {
                height: 100%;
                width: 100%;
                background: url('../../assets/images/logo-phong-kham-17.jpg') center no-repeat;
                cursor: pointer;
                background-size: contain;
            }

            i {
                font-size: 20px;
                margin-right: 10px;
                cursor: pointer;
            }
        }


        .center-content {
            width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-left: 70px;

            .sub-title {
                font-size: 12px;
                font-weight: 400px;
            }
        }

        .right-content {
            width: 25%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .support {
                padding-right: 50px;
                display: flex;
                align-items: center;
                cursor: pointer;

                i {
                    font-size: 15px;
                    margin-right: 5px;

                }

                .language-vi {
                    cursor: pointer;
                    color: #3498db;

                    &.active {
                        color: orange;
                    }
                }

                .language-en {
                    cursor: pointer;

                    &.active {
                        color: blue;
                    }
                }
            }
        }


    }

}

.home-header-banner {
    background: url(../../assets/images/header-background.jpg);
    height: 485px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;


    .content-up {
        background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(255, 255, 255, 0.1));

        height: 65%;


        .title1 {
            text-align: center;
            font-size: 25px;
            text-shadow: 1px 1px 1px #333;
            margin: 15px 0;
            color: white;
            padding-top: 10px;
        }

        .title2 {
            text-align: center;
            font-size: 25px;
            text-shadow: 1px 1px 1px #333;
            margin-bottom: 15px;
            color: white;
            font-weight: 700;

        }

        .search {
            margin-top: 5px;
            text-align: center;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
            padding: 10px;
            width: fit-content;
            border-radius: 25px;
            background-color: #f1c40f;
            margin-top: 62px;

            i {
                margin: 0 5px;
            }

            input {
                height: 30px;
                width: 360px;
                background: transparent;
                border: none;
                outline: none;

            }
        }
    }

    .content-down {
        height: 35%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 1));


        .option {

            text-align: center;
            display: flex;
            gap: 50px;
            justify-content: center;

            .option-child {
                width: 90px;


                .icon-child {
                    background: #fff;
                    width: 50px;
                    height: 50px;
                    padding: 10px;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto;

                    i {
                        font-size: 30px;
                        color: #1abc9c;
                    }
                }
            }

            .text-child {
                font-weight: 500;
                font-size: 17px;
                cursor: pointer;

                &:hover {
                    color: #3498db;

                }
            }


        }
    }




}